.panels {
    display: flex;
    width: 100vw;
    height: calc(100vh - 70px);
    overflow: hidden;
}

.nodelink {
    flex: 1;
    width: auto;
    height: 100%;
}
.nodelink svg {
    max-width: 100%;
    max-height: 100%;
}

.legend {
  font-size: 18px;
}

.highlight {
    stroke: red;
    stroke-width: 3px;
    opacity: 1;
    stroke-opacity: 1;
}

.treemap {
    flex: 1;
    display: flex;
    height: calc(100vh - 70px);
}

.treemap svg {
    max-width: 100%;
    max-height: 100%;
}
